In [2]:
import pandas as pd

df = pd.DataFrame([
    {'번호':1, '이름':'a', '국어':100, '나이':15},
    {'번호':2, '이름':'b', '국어':90, '나이':16},
    {'번호':3, '이름':'c', '국어':80, '나이':15},
    {'번호':4, '이름':'d', '국어':70, '나이':14},
], columns=['번호', '이름', '국어', '나이'])

In [5]:
df['영어'] = [100, 80, 70, 60]
df

   번호 이름   국어  나이   영어
0   1  a  100  15  100
1   2  b   90  16   80
2   3  c   80  15   70
3   4  d   70  14   60

In [8]:
df = df[['번호', '이름', '국어', '영어', '나이']]
df

   번호 이름   국어   영어  나이
0   1  a  100  100  15
1   2  b   90   80  16
2   3  c   80   70  15
3   4  d   70   60  14

In [13]:
df['pass'] = df['국어'] + df['영어'] > 150
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   번호 이름   국어   영어  나이   pass
0   1  a  100  100  15   True
1   2  b   90   80  16   True
2   3  c   80   70  15  False
3   4  d   70   60  14  False

In [31]:
df = pd.DataFrame([
    {'매장명':'대남포차', '주메뉴':'문어', '가격':40000, '휴무일':'매주 일요일'},
    {'매장명':'재민국밥', '주메뉴':'돼지국밥', '가격':6000, '휴무일':'연중무휴'},
    {'매장명':'구서칼국수', '주메뉴':'칼국수', '가격':4000, '휴무일':'연중무휴'},
    {'매장명':'해진아나고', '주메뉴':'아나고', '가격':60000, '휴무일':'2/4주 일요일'},
], columns=['매장명', '주메뉴', '가격', '휴무일'])
df

     매장명   주메뉴     가격       휴무일
0   대남포차    문어  40000    매주 일요일
1   재민국밥  돼지국밥   6000      연중무휴
2  구서칼국수   칼국수   4000      연중무휴
3  해진아나고   아나고  60000  2/4주 일요일

In [38]:
price_list = []
for row in df['가격']:
    if row <= 10000:
        price_list.append('저가')
    else:
        price_list.append('고가')
df['고가/저가'] = price_list
df

     매장명   주메뉴     가격       휴무일 저가/고가 고가/저가
0   대남포차    문어  40000    매주 일요일    고가    고가
1   재민국밥  돼지국밥   6000      연중무휴    저가    저가
2  구서칼국수   칼국수   4000      연중무휴    저가    저가
3  해진아나고   아나고  60000  2/4주 일요일    고가    고가

In [37]:
df['저가/고가'] = df['가격'].apply(lambda x: '저가' if x <= 10000 else '고가')
df

     매장명   주메뉴     가격       휴무일 저가/고가
0   대남포차    문어  40000    매주 일요일    고가
1   재민국밥  돼지국밥   6000      연중무휴    저가
2  구서칼국수   칼국수   4000      연중무휴    저가
3  해진아나고   아나고  60000  2/4주 일요일    고가

In [ ]:
def input_price(values):
    return '고가' if value > 10000 else '저가'

df['고가/저가'] = df['가격'].apply(input_price)

In [43]:
def input_kind(value):
    return '해산물' if '문어' in value or '아나고' in value else '기타'
df['종류'] = df['주메뉴'].apply(input_kind)
df

     매장명   주메뉴     가격       휴무일 저가/고가 고가/저가   종류
0   대남포차    문어  40000    매주 일요일    고가    고가  해산물
1   재민국밥  돼지국밥   6000      연중무휴    저가    저가   기타
2  구서칼국수   칼국수   4000      연중무휴    저가    저가   기타
3  해진아나고   아나고  60000  2/4주 일요일    고가    고가  해산물

In [24]:
df = pd.DataFrame([
                   {'번호':1, '이름':'a', '국어':100, '나이':15, '합격여부':True},
                   {'번호':2, '이름':'b', '국어':90, '나이':16, '합격여부':True},
                   {'번호':3, '이름':'c', '국어':80, '나이':15, '합격여부':False},
                   {'번호':4, '이름':'d', '국어':70, '나이':14, '합격여부':False}
])
df

   번호 이름   국어  나이   합격여부
0   1  a  100  15   True
1   2  b   90  16   True
2   3  c   80  15  False
3   4  d   70  14  False

In [28]:
def change_value(value):
    return '합격' if value else '불합격'

df['합격여부'] = df['합격여부'].apply(change_value)
df

   번호 이름   국어  나이 합격여부
0   1  a  100  17   합격
1   2  b   90  18   합격
2   3  c   80  17  불합격
3   4  d   70  16  불합격

In [27]:
df['나이'] = df['나이'] + 1
df

   번호 이름   국어  나이   합격여부
0   1  a  100  17   True
1   2  b   90  18   True
2   3  c   80  17  False
3   4  d   70  16  False