In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.array([[1,2,3], [4,5,6]]))
print('DataFrame #1')
print(df.shape)
print(len(df.index))
print(list(df.columns))
print(df)
df = pd.DataFrame({'A':[1,4,7] ,'B':[2, 5, 8], 'C':[3, 6, 9]})
print(df)
print("DataFrame #2")
print(df.loc[0])
print(df.loc[:, 'A'])
print(df.loc[1:, 'B'])
print(df)

DataFrame #1
(2, 3)
2
[0, 1, 2]
   0  1  2
0  1  2  3
1  4  5  6
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
DataFrame #2
A    1
B    2
C    3
Name: 0, dtype: int64
0    1
1    4
2    7
Name: A, dtype: int64
1    5
2    8
Name: B, dtype: int64
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
# # pandas01.py
# import pandas as pd
# import os

# # dir = os.path.dirname(os.path.realpath(''))

# input_file = '/content/drive/My Drive/SKinfosec/사이버 강의/csv/supplier_data.csv'
# output_file = '/content/drive/My Drive/SKinfosec/사이버 강의/cs/pandas_output.csvv'

# dat_frame = pd.read_csv(input_file)
# df['Cost'] = df['Cost'.str.strip('$').astype(float)]
# new_df = df.loc[(df['Supplier Name'].str.contains('Z')) | (df['Cost' > 600.0 ])]

In [ ]:
# pandas02.py
import pandas as pd
import os

# dir = os.path.dirname(os.path.realpath(''))

input_file = 'supplier_data.csv'
output_file = 'pandas_output.csv'

df = pd.read_csv(input_file)
df['Cost'] = df['Cost'].str.strip('$').astype(float)
new_df = df.loc[(df['Supplier Name'].str.contains('Z')) | (df['Cost'] > 600.0 )] 
print(new_df)
print('.Done')

   Supplier Name Invoice Number  Part Number   Cost Purchase Date
3     Supplier X       001-1001         5467  750.0       1/20/14
8     Supplier Z       920-4803         3321  615.0    2002-03-14
9     Supplier Z       920-4804         3321  615.0    2002-10-14
10    Supplier Z       920-4805         3321  615.0       2/17/14
11    Supplier Z       920-4806         3321  615.0       2/24/14
.Done

In [ ]:
# pandas03.py
import pandas as pd
import os
import csv

input_file = 'supplier_data.csv'
output_file = 'pandas_output.csv'

filter_date = ['1/20/14', '1/30/14']

with open(input_file, 'r', newline='') as csv_in_file:
    with open(output_file, 'w', newline='') as csv_out_file:
        filereader = csv.reader(csv_in_file) 
        filewriter = csv.writer(csv_out_file)
        header = next(filereader)
        filewriter.writerow(header)
        for row in filereader: 
            # Purchase Date:     1/20/14 or 1/30/14 
            p_date = row[4]
            if p_date in filter_date:
                filewriter.writerow(row)
print('Done.')

Done.

In [ ]:
# pandas04.py

import sys, csv
import re
import os

input_file = 'supplier_data.csv'
output_file = 'pandas_output.csv'


# 001- 
pattern = re.compile(r'(?P<my_pattern_group>^001-.*)', re.I)

with open(input_file, 'r', newline='') as csv_in_file:
    with open(output_file, 'w', newline='') as csv_out_file:
        filereader = csv.reader(csv_in_file) 
        filewriter = csv.writer(csv_out_file)
        header = next(filereader)
        filewriter.writerow(header)
        for row in filereader: 
            invoice_number = row[1]
            # match, search, find -> 맞는 패턴만 출력
            if pattern.search(invoice_number):
                filewriter.writerow(row)

print('Done.')

Done.

In [ ]:
# pandas05.py
import pandas as pd
import os

input_file = 'supplier_data.csv'
output_file = 'pandas_output.csv'


df = pd.read_csv(input_file)
new_df = df.iloc[:, [0, 3]]
print(new_df)
new_df.to_csv(output_file, index=False)

   Supplier Name      Cost
0     Supplier X  $500.00
1     Supplier X  $500.00
2     Supplier X      NaN
3     Supplier X  $750.00
4     Supplier Y  $250.00
5     Supplier Y  $250.00
6     Supplier Y  $125.00
7     Supplier Y  $125.00
8     Supplier Z  $615.00
9     Supplier Z  $615.00
10    Supplier Z  $615.00
11    Supplier Z  $615.00

In [29]:
# pandas06.py

input_file = 'supplier_data.csv'
output_file = 'pandas_output.csv'

df = pd.read_csv(input_file)
new_df = df.loc[:, ['Invoice Number','Purchase Date']]

new_df.to_csv(output_file, index=False)
print('Done')

Done

In [ ]:
# pandas07.py

input_file = 'supplier_data.csv'
output_file = 'pandas_output.csv'

df = pd.read_csv(input_file, header=None)
new_df = df.drop([0,1,2,11,12])
print(new_df)
new_df = df.reindex()
print('# after reindex')
print(new_df.reset_index())

             0         1     2         3           4
3   Supplier X  001-1001  5467      NaN      1/20/14
4   Supplier X  001-1001  5467  $750.00      1/20/14
5   Supplier Y   50-9501  7009  $250.00      1/30/14
6   Supplier Y   50-9501  7009  $250.00      1/30/14
7   Supplier Y   50-9505  6650  $125.00   2002-03-14
8   Supplier Y   50-9505  6650  $125.00   2002-03-14
9   Supplier Z  920-4803  3321  $615.00   2002-03-14
10  Supplier Z  920-4804  3321  $615.00   2002-10-14
# after reindex
    index              0               1            2         3              4
0       0  Supplier Name  Invoice Number  Part Number      Cost  Purchase Date
1       1     Supplier X        001-1001         2341  $500.00         1/20/14
2       2     Supplier X        001-1001         2341  $500.00         1/20/14
3       3     Supplier X        001-1001         5467      NaN         1/20/14
4       4     Supplier X        001-1001         5467  $750.00         1/20/14
5       5     Supplier Y         50-9501         7009  $250.00         1/30/14
6       6     Supplier Y         50-9501         7009  $250.00         1/30/14
7       7     Supplier Y         50-9505         6650  $125.00      2002-03-14
8       8     Supplier Y         50-9505         6650  $125.00      2002-03-14
9       9     Supplier Z        920-4803         3321  $615.00      2002-03-14
10     10     Supplier Z        920-4804         3321  $615.00      2002-10-14
11     11     Supplier Z        920-4805         3321  $615.00         2/17/14
12     12     Supplier Z        920-4806         3321  $615.00         2/24/14

In [46]:
# pandas08.py 
import pandas as pd
import os, glob, sys

input_path = ''
output_file = 'pandas_output9.csv'


all_files= glob.glob(os.path.join(input_path,'sales_*'))
all_data_frames = []

for input_file in all_files:
    df = pd.read_csv(input_file, index_col=None)
    all_data_frames.append(df)

all_data_concat = pd.concat(all_data_frames,axis=0,ignore_index=True)
print(all_data_concat)

all_data_concat.to_csv(output_file, index=False)
print("done")

    Customer ID       Customer Name Invoice Number Sale Amount Purchase Date
0          1234          John Smith       100-0002   $1,200.00        1/1/14
1          2345       Mary Harrison       100-0003   $1,425.00        1/6/14
2          3456          Lucy Gomez       100-0004   $1,390.00       1/11/14
3          4567        Rupert Jones       100-0005   $1,257.00       1/18/14
4          5678       Jenny Walters       100-0006   $1,725.00       1/24/14
5          6789  Samantha Donaldson       100-0007   $1,995.00       1/31/14
6          1234          John Smith       100-0014   $1,350.00        3/4/14
7          8765           Tony Song       100-0015   $1,167.00        3/8/14
8          2345       Mary Harrison       100-0016   $1,789.00       3/17/14
9          6543          Rachel Paz       100-0017   $2,042.00       3/22/14
10         3456          Lucy Gomez       100-0018   $1,511.00       3/28/14
11         4321       Susan Wallace       100-0019   $2,280.00       3/30/14
12         9876       Daniel Farber       100-0008   $1,115.00        2/2/14
13         8765         Laney Stone       100-0009   $1,367.00        2/8/14
14         7654        Roger Lipney       100-0010   $2,135.00       2/15/14
15         6543       Thomas Haines       100-0011   $1,346.00       2/17/14
16         5432         Anushka Vaz       100-0012   $1,560.00       2/21/14
17         4321      Harriet Cooper       100-0013   $1,852.00       2/25/14
done

In [49]:
# pandas10.py
import pandas as pd
import os, glob, sys

input_path = ''
output_file = 'pandas_output10.csv'

all_files = glob.glob(os.path.join(input_path, 'sales_*'))
all_data_frames = []

for input_file in all_files:
    df = pd.read_csv(input_file, index_col=None)
    total_sales = pd.DataFrame([float(str(value).strip('$').replace(',','')) for value in df.loc[:, 'Sale Amount']]).sum()
    # average_sales 
    avg_sales = pd.DataFrame([float(str(value).strip('$').replace(',','')) for value in df.loc[:, 'Sale Amount']]).mean()

    data = {'file_name': os.path.basename(input_file), 'total_sales': total_sales, 'avg_sales': avg_sales}

    all_data_frames.append(pd.DataFrame(data, columns=['file_name', 'total_sales', 'avg_sales']))

all_data_concat = pd.concat(all_data_frames, axis=0, ignore_index=True)
print(all_data_concat)
all_data_concat.to_csv(output_file, index=False)
print('Done')

                 file_name  total_sales    avg_sales
0   sales_january_2014.csv       8992.0  1498.666667
1     sales_march_2014.csv      10139.0  1689.833333
2  sales_february_2014.csv       9375.0  1562.500000
Done